{% extends 'base.html.twig' %}
{% block titulo%}Bonita{%endblock%}
{% block stylesheets %}
  <link href="{{ asset ('cssedse/ewsdddmyCSS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
    <h2> BONITA </h2>      
{%endblock%} 