{% extends 'base.html.twig' %}
{% block titulo%}Mensaje{%endblock%}
{% block stylesheets %}
  <link href="{{ asset ('css/dssdCSS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
    <h2> {{ mensaje }} </h2>
    <a class="button" style="width:200px" href="{{ path(volver) }}">Volver</a>
{%endblock%}
